<html>

<head>
  <title>500 Internal Server Error</title>
  <link rel="stylesheet" href="/error/main.css">
</head>

<body>
  <div class="bsod">
    <div class="error">
      <div class="error-header"><span>500 Internal Server Error<span></div>
        A problem has been detected with your JavaScript, and this tab has been shut down to prevent damage to your computer.<br><br>
        If this is the first time you're seeing this error, restart your computer.
        <br><br>
        If problems continue, press ctrl + z on the files you're working on, until it resolves itself.
      </div>
    </div>
  </body>
</html>